/*
* @Author: name
* @Date:   2023-09-15 23:15:41
* @Last Modified by:   name
* @Last Modified time: 2023-09-16 13:39:14
*/
*{
    background-color:#00cc99;
    margin:0 auto;
    padding: 30px;
    list-style: none;
    text-decoration: none;
}
