/*
* @Author: name
* @Date:   2023-09-16 14:01:10
* @Last Modified by:   name
* @Last Modified time: 2023-09-16 15:37:18
*/
*{
    background-color: #0000cc;
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.parent{
    width:100%;
    height:500px;
    border:1px solid #00cc99;
    background-color: #00cc99;
    margin-top:12%;
}
.child{
    position:absolute;
    width:25%;
    margin-top:-1px;
    margin-left: -2px;
    height:500px;
    border:1px solid #0099cc;
    background-color:#0099cc;

}